* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: "Roboto Condensed", sans-serif;
  overflow-x: hidden;
  min-width: 320px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 15px;
    line-height: 20px;
  }

  h1 {
    font-size: 38px;
    line-height: 38px;
  }

  h2 {
    font-size: 33px;
    line-height: 33px;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
  }

  h4 {
    font-size: 22px;
    line-height: 22px;
  }

  h5 {
    font-size: 20px;
    line-height: 20px;
  }

  h6 {
    font-size: 18px;
    line-height: 18px;
  }
}

a {
  text-decoration: none;
}

.container-fluid,
.container {
  max-width: 1310px;
}

@media screen and (min-width: 992px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.page-header .container {
  position: relative;
}

.page-header {
  z-index: 10;
}

.header-top {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .header-top .column-1 {
    display: none;
  }

  .header-top .column-2 {
    position: absolute;
    top: 12px;
    right: 80px;
  }
}

@media screen and (max-width: 480px) {
  .header-top .column-2 {
    right: 5 0;
  }
}

@media screen and (min-width: 992px) {
  .header-top {
    height: 95px;
    padding: 20px 10px 15px;
  }
}

.page-header .header-top {
  background-color: #f72210;
}

.page-header time {
  display: none;
  font: 16px/34px "Roboto Condensed", sans-serif;
  color: white;
}

@media screen and (min-width: 992px) {
  .page-header time {
    display: block;
    margin-left: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header time {
    margin-left: 20px;
  }
}

.link-2,
.link-1 {
  position: relative;
  font: bold 14px/14px "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 6px 3px;
  max-height: 26px;
}

.page-header .link-1 {
  color: #fff;
}

.page-header .link-2 {
  background-color: #fff;
  color: #f72210;
}

.link-2 svg {
  display: none;
}

.page-header .link-2 svg {
  fill: #f72210;
}

@media screen and (min-width: 481px) {
  .link-1 {
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media screen and (min-width: 481px) {
  .link-2 {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (min-width: 481px) {
  .link-2 svg {
    display: inline-block;
    width: 8px;
    height: 14px;
    margin-left: 10px;
    vertical-align: baseline;
  }
}

@media screen and (min-width: 992px) {
  .link-2 {
    padding-left: 12px;
  }
}

.header-middle {
  position: relative;
  padding: 15px;
}

.page-header .header-middle {
  background-color: #f72210;
}

@media screen and (min-width: 992px) {
  .header-middle {
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.page-header .brand svg {
  display: block;
  width: 132px;
  height: 20px;
  fill: #fff;
}

@media screen and (min-width: 992px) {
  .page-header .brand svg {
    width: 396px;
    height: 60px;
    margin: 10px auto 0;
  }
}

.genericon {
  font-size: 26px;
  text-align: center;
  display: block;
  cursor: pointer;
}

.genericon-menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.genericon-menu::before {
  content: none;
}

.genericon-menu::before,
.genericon-menu::after {
  content: "";
}

.genericon-menu > span,
.genericon-menu::before,
.genericon-menu::after {
  display: block;
  width: 24px;
  height: 4px;
  background-color: #fb9a94;
  margin-left: auto;
  margin-right: auto;
}

.genericon-menu > span {
  margin-top: 4px;
  margin-bottom: 4px;
}

@media screen and (min-width: 481px) {
  .genericon-menu {
    width: 74px;
  }

  .genericon-menu > span,
  .genericon-menu::before,
  .genericon-menu::after {
    width: 30px;
  }
}

@media screen and (min-width: 992px) {
  .genericon-menu {
    display: none;
  }

  .stickyhead.fixed .genericon-menu,
  .page-header.fixed .genericon-menu {
    display: -webkit-flex;
    display: flex;
  }
}

.page-header .header-bottom {
  background-color: white;
  border-bottom-color: #f4f5f6;
}

.header-bottom {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .header-bottom {
    -moz-box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
    box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
    transform: translate(100%, 0%);
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 0;
    width: 220px;
    height: 100vh;
    padding: 10px 0;
  }
}

@media screen and (min-width: 992px) {
  .page-header .header-bottom {
    padding-right: 160px;
    display: block;
    position: relative;
  }
}

.page-header ul.page-nav {
  color: black;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}

ul.page-nav a {
  display: block;
  color: black;
  text-decoration: none;
}

.page-header ul.page-nav a:hover {
  color: #f72210;
}

@media screen and (max-width: 991px) {
  .page-header ul.page-nav {
    padding-top: 10px;
  }

  .page-header ul.page-nav a::after {
    background-color: rgba(0, 0, 0, 0.55);
  }

  .page-header ul.page-nav a:hover {
    background-color: black;
    color: white;
  }

  .page-header ul.page-nav a:hover::after {
    background-color: #f72210;
  }
}

@media screen and (min-width: 992px) {
  ul.page-nav li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    border-left-width: 1px;
    border-left-style: solid;
  }

  .page-header ul.page-nav li {
    border-left-color: #d9d9d9;
  }

  ul.page-nav {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
  }

  ul.page-nav li:first-child {
    border-left-width: 0;
  }

  .page-header .header-bottom::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 78px;
    background-color: #f72210;
    border-left: 12px solid white;
    border-top: 13px solid #f72210;
  }
}

.search-block input {
  top: 0;
  font-size: 16px;
  height: 20px;
  width: 175px;
  font-family: Arial, Helvetica, sans-serif;
}

.search-block .search-icon {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 991px) {
  .search-block {
    position: relative;
    padding-right: 20px;
    margin-left: 15px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 992px) {
  .search-block input[type="text"] {
    width: 60px;
    height: 54px;
    position: absolute;
    top: 0;
    right: 102px;
    vertical-align: middle;
  }

  .search-block .search-icon {
    top: 18px;
    right: 82px;
  }
}

.fixed {
  position: fixed;
  z-index: 1;
}

header {
  position: relative;
}

header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.not-logged-in header.fixed {
  z-index: 10001;
}

/* experiment puposes only */

.page-header.fixed .header-top .column-1 {
  display: none;
}

.page-header.fixed .header-top .column-2 {
  position: absolute;
  top: 12px;
  right: 80px;
}

@media screen and (max-width: 480px) {
  .page-header.fixed .header-top .column-2 {
    right: 50px;
  }
}

.page-header.fixed .container {
  max-width: inherit;
}

.page-header.fixed .brand svg {
  width: 132px;
  height: 20px;
  margin: 0 auto 0 0;
}

.page-header.fixed .header-top {
  height: auto;
  padding: inherit;
}

.page-header.fixed .header-middle {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  position: relative;
  left: inherit;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
}

.page-header.fixed .search-block {
  position: relative;
  padding-right: 20px;
  margin-left: 15px;
  margin-right: 10px;
}

.page-header.fixed .search-block input[type="text"] {
  font-size: 16px;
  height: 20px;
  width: 100%;
  position: static;
}

.page-header.fixed .search-block .search-icon {
  top: 0;
  right: 0;
}

.page-header.fixed .header-bottom {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
  box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
  position: absolute;
  right: 0;
  height: calc(100vh - 50px);
  padding: 10px 0;
  width: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-header.fixed .header-bottom::before {
  content: none;
}

/* main content */
.main {
  background-color: white;
  padding-top: 20px;
}

.colwrap {
  background: white;
}

.column3 {
  height: 2500px;
  background: #708090;
}

.col1 {
}

.col2 {
  height: 400px;
  background: #c0c0c0;
}

/* Featured stories section */

.block-title {
  color: rgba(3, 3, 3, 0.4);
  font: bold 16px/16px "Roboto Condensed", sans-serif;
  padding-bottom: 11px;
  text-transform: uppercase;
}

.wrap {
  position: relative;
  min-height: 33px;
}

.article-category {
  display: block;
  background-color: rgba(255, 255, 255, 0.9);
  font: bold 17px/16px "Roboto Condensed", sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.article-title {
  padding: 20px 0;
}

.article-title h3 {
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 10px;
  color: black;
}

/* bootstrap fix classes */

.no-padding {
  padding: 0;
}

/* end of bootstrap fixes */
